.header
    .header__header
        .header__column
            i.fab.fa-twitch
        .header__column
            form
                input(type="text" placeholder="search")
                button
                    i.fa.fa-search
        .header__column
            a(href=routes.login)
                button Login
            a(href=routes.join)
                button Join
        
            
            
