.socialLogin
    .socialLogin__github
        a(href="#")
            button
                i.fab.fa-github
                span Login Githubで
    .socialLogin__naver
        a(href="#")
            button
                i.fab.fa-neos
                span Login NAVERで
                