.socialLogin
    .socialLogin__github
        a(href=routes.github)
            button
                i.fab.fa-github
                span Login Githubで
    .socialLogin__naver
        a(href=routes.naver)
            button
                i.fab.fa-neos
                span Login NAVERで
                