
.socialLogin
    .socialLogin__github
        a(href="#")
            button
                i.fab.fa-github|Login Github
    .socialLogin__whatever
        a(href="#")
            button
                i.fab.fa-google|Login Google

                