doctype html
html
    head
        script(src="https://kit.fontawesome.com/eded87c937.js", crossorigin="anonymous")
        link(rel="stylesheet", href="/static/styles.css")
        title 
        
    body
        header
            include ../partials/header
        main
            block content
        script(src="/static/main.js")
        