.home-videos {
  display: grid;
  grid-template-columns: 180px 180px 180px 180px 180px 180px 180px 180px;
  grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px;
  grid-gap: 10px;
  margin: 0 auto;
  .videoBlock:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .videoBlock:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .videoBlock:nth-child(3) {
    grid-column-start: 5;
    grid-column-end: 7;
  }
  .videoBlock:nth-child(4) {
    grid-column-start: 7;
    grid-column-end: 9;
  }
}

.videoBlock {
  display: block;
  .avatar__thumnail {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}
