extends layouts/main

block content
    .form-container
        form(action=`${routes.user}/changePassword`, method="post")
            input(type="password", name="password", placeholder="Current Password")
            input(type="password", name="newPassword", placeholder="New Password")
            input(type="password", name="newPassword1", placeholder="New Password Again")
            input(type="submit", value="Change Password")