extends layouts/main

block content
    .form-container
        form(action=`${routes.user}/editProfile`, method="post", enctype="multipart/form-data")
            label(for="avatar") Avatar
            input(type="file", name="avatar")
            input(type="text", name="name", placeholder="name")
            input(type="email", name="email", placeholder="email")
            input(type="submit", value="Send")
        a.form-container__CPW(href=`${routes.user}/changepassword`)
            button Change Password