extends layouts/main
include mixins/videoBlock

block content
    .videos
        each video in videos
            +videoBlock({
                videoFile:video.fileUrl,
                id:video.id,
                title:video.title,
                views:video.views,
                game:video.game
            })