extends layouts/main
include mixins/videoBlock

block content
    .home-videos
        each video in videos
            +videoBlock({
                id:video.id,
                videoFile:video.fileUrl,
                imageFile:video.imageFileUrls[0].imageFileUrl,
                title:video.title,
                views:video.views,
                game:video.game
            })