extends layouts/main

block content
    .form-container
        form(action=`${routes.video}/upload`, method="post", enctype="multipart/form-data")
            label(for="Video File")
            input(type="file", id="videoFile" name="videoFile")
            label(for="image File")
            input(type="file", id="imageFile" name="imageFile")
            input(list="games", name="game")
            datalist(id="games", name="gameList")
                option(value="League Of Legends")
                option(value="Call of Duty")
                option(valye="Minecraft")
                option(value="Battle Ground")
                option(value="Sudden Attack")
            input(type="text", name="title", placeholder="title")
            input(type="text", name="description", placeholder="description")
            input(type="text", name="creator", placeholder="create by")
            input(type="submit", value="Upload Now")
        